{% block form_errors %}
{% apply spaceless %}
{% if errors is defined and errors|length > 0 %}
<ul>
  {% for error in errors %}
  <li class="text-danger">{{ error.message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endapply %}
{% endblock form_errors %} 
