{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}
{% block header %}{% endblock %}
{# No menu in login page #}
{% block menu %}  {% endblock %}
{% block menu_body %}  {% endblock %}

{% block mainpanel %}
{% if error %}
{{ include('core/messages/alert-danger.html.twig', {'error' : error}) }}
{% endif %}

<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 offset-md-3">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header"><h3 class="text-center font-weight-light my-4">{{ 'title.login'|trans}}</h3></div>
          <div class="card-body">
            <form action="{{ path('security_login') }}" method="post">
              <fieldset>
              <div class="form-group form-floating mb-3">
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                <label for="username">{{ 'label.username'|trans }}</label>
              </div>
              <div class="form-group form-floating mb-3">
                <input type="password" id="password" name="_password" class="form-control" />
                <label for="password">{{ 'label.password'|trans }}</label>
              </div>
              <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
              <div class="float-end">
                <button type="submit" class="btn btn-primary">
                  <i class="fas fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                </button>
              </div>
              </fieldset>
            </form>
          </div>
          <div class="card-footer text-center py-3">
            <div class="small"><a href="{{ path('security_register') }}">{{ 'label.registeraccount'|trans }}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}

{% block footer %}{% endblock %}
