{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}
{% block header %}{% endblock %}
{# No menu in login page #}
{% block menu %}  {% endblock %}
{% block menu_body %}  {% endblock %}

{% block mainpanel %}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header"><h3 class="text-center font-weight-light my-4">{{ 'title.createAccount'|trans }}</h3></div>
          <div class="card-body">
            {{ form_start(form, {'method': 'POST'}) }}
              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                        {{ form_errors(form.firstname) }}
                        {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_label(form.firstname, 'label.firstname'|trans, {'label_attr': {'class': 'form-label'}}) }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                      {{ form_errors(form.lastname) }}
                      {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                      {{ form_label(form.lastname, 'label.lastname'|trans , {'label_attr': {'class': 'form-label'}}) }}
                  </div>
                </div>
              </div>
              <div class="form-floating mb-3">
                  {{ form_errors(form.email) }}
                  {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                  {{ form_label(form.email, 'label.email'|trans , {'label_attr': {'class': 'form-label'}}) }}
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                      {{ form_errors(form.newPassword.first) }}
                      {{ form_widget(form.newPassword.first, { 'attr': {'class': 'form-control'} }) }}
                      {{ form_label(form.newPassword.first, 'label.password'|trans , {'label_attr': {'class': 'form-label'}}) }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                      {{ form_errors(form.newPassword.second) }}
                      {{ form_widget(form.newPassword.second, { 'attr': {'class': 'form-control'} }) }}
                      {{ form_label(form.newPassword.second, 'label.repeatpassword'|trans , {'label_attr': {'class': 'form-label'}}) }}
                  </div>
                </div>
              </div>
              <div class="mt-4 mb-0">
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa-solid fa-circle-plus"></i> {{ 'action.createAccount'|trans }}
                  </button>
                </div>
              </div>
            {{ form_end(form) }}
          </div>
          <div class="card-footer text-center py-3">
            <div class="small"><a href="{{ path('security_login') }}">{{ 'info.account'|trans }}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}

{% block footer %}{% endblock %}
