{% if error %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    </div>
</div>
{% endif %}
