<div class="mb-3">
    {{ form_label(form.name, 'label.name' | trans , {'label_attr': {'class': 'form-label'}}) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
    {{ form_label(form.description,  'label.description' | trans , {'label_attr': {'class': 'form-label'}}) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
    {{ form_label(form.link, 'label.version.link.field' | trans, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_errors(form.link) }}
    {{ form_widget(form.link, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
    {{ form_errors(form.service) }}
    {{ form_label(form.service, 'label.service.field' | trans , {'label_attr': {'class': 'form-label'}}) }}
    {% if field_disabled is defined %}
    {{ form_widget(form.service, { 'attr': {'class': 'form-control', 'readonly':'readonly'} }) }}
    {% else %}
    {{ form_widget(form.service, { 'attr': {'class': 'form-control'} }) }}
    {% endif %}
</div>
{{ form_widget(form.save, {label: 'action.save', attr: {class: 'btn btn-primary'}}) }}
