{% extends './layout.html.twig' %}

{% block title %}{{ 'title'|trans }} | {{ 'menu.main.manage.apps'|trans }}{% endblock %}
{% block mainpanel %}
<main>
<div class="container-fluid px-4">
  <h1 class="mt-4">{{ 'label.apps.field' | trans }} "{{ appli.name }}"</h1>
  {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.manage.apps'|trans, 'rootlevel': 'menu.main.admin.label'|trans , 'show_title': false} ) }}
  {{ include('core/_header-title.html.twig', {'headerDetail':  'label.edit.manage' | trans ~ ' ' ~ appli.name  } ) }}
  {{ form_start(form, {'method': 'PUT'}) }}
    {{ include('admin/application/_form.html.twig') }}
  <a href="{{ path('admin_applications') }}" class="btn btn-primary">{{ 'label.back'|trans }}</a>
  {{ form_end(form) }}
</div>
</main>

{% endblock %}
