{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }} | {{ 'menu.main.manage.apps'|trans }}{% endblock %}
{% block header %}{% endblock %}

{% block mainpanel %}
<main>
  <div class="container-fluid px-4">
    {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.manage.apps'|trans, 'rootlevel': 'menu.main.admin.label'|trans } ) }}
    {{ include('core/_header-title.html.twig', {'headerDetail':  'label.apps.list.manage' | trans } ) }}
    <div class="card mb-4">
      <div class="card-header bg-primary">
        <i class="fas fa-table me-1"></i>
        {{ 'label.versions.used.list.manage' | trans }} {{ 'title'|trans }}.
      </div>
      {{ include('admin/application/_add.html.twig') }}
      <div class="card-body">
        <table id="datatablesSimple" class="text-center">
          <thead>
            <tr class="bg-warning">
              <th class="text-center">{{ 'label.lastname' | trans }}</th>
              <th class="text-center">{{ 'label.service.field' | trans }}</th>
              <th class="text-center">{{ 'label.version.link.field' | trans }}</th>
              <th class="text-center">{{ 'label.actions' | trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% for appli in entities %}
            <tr>
              <td>{{ appli.name }}</td>
              <td>{{ appli.service }}</td>
              <td>{{ appli.link }}</td>
              <td class="text-center">
                    <div class="item-actions">
                        <a href="{{ path('admin_application_show', {id: appli.id}) }}" class="btn btn-sm btn-outline-success">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                        </a>
                        <a href="{{ path('admin_application_edit', {id: appli.id}) }}" class="btn btn-sm btn-outline-warning">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                        </a>
                        {% if appli.applicationenvs | length < 1 %}
                        <a href="{{ path('admin_application_delete', {id: appli.id}) }}" class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-trash-can" aria-hidden="true"></i> {{ 'action.delete'|trans }}
                        </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
              <td colspan="4" align="center">{{ 'label.apps.not_found'|trans }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {{ include('admin/application/_add.html.twig') }}
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}
