{% extends './layout.html.twig' %}
{% block title %}{{ 'title'|trans }} | {{ 'menu.main.manage.apps'|trans }}{% endblock %}
{% block mainpanel %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">{{ 'label.apps.field' | trans }} "{{ appli.name }}"</h1>
        {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.manage.apps'|trans, 'rootlevel': 'menu.main.admin.label'|trans , 'show_title': false} ) }}
        {{ include('core/_header-title.html.twig', {'headerDetail':  'label.detail.show' | trans ~ ' ' ~ appli.name  } ) }}
        <div class="card-body">
            <div class="card border-secondary mb-12">
                <div class="card-header">{{ 'label.apps.app.name.field' | trans }} : <strong>{{ appli.name }}</strong></div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ appli.link }}" title="{{ appli.link }}" target="_blank">{{ 'label.url.link.goto' | trans }}</a> </h5>
                    <p class="card-text">{{ 'label.description' | trans }} : {{ appli.description }}</p>
                </div>
                <div class="card-header">{{ 'label.apps.app.manager.field' | trans }} : {{ appli.service.manager }}</div>
                <div class="card-header">{{ 'label.service.field' | trans }} : <strong>{{ appli.service }}</strong></div>
                <div class="card-footer bg-transparent border-success">
                    <a href="{{ path('admin_applications') }}" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i> {{ 'label.back'|trans }}
                    </a>
                    <a href="{{ path('admin_application_edit', {id: appli.id}) }}" class="btn btn-sm btn-outline-warning">
                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
