<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"  />
<link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-16x16.png') }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-32x32.png') }}" /> 
