<script src="/{{ app.request.server.get('APP_ALIAS') }}/build/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/{{ app.request.server.get('APP_ALIAS') }}/build/js/scripts.js" crossorigin="anonymous"></script>
<script src="/{{ app.request.server.get('APP_ALIAS') }}/build/js/simple-datatables.js" crossorigin="anonymous"></script>
<script src="/{{ app.request.server.get('APP_ALIAS') }}/build/js/custom-datatables-simple.js" crossorigin="anonymous"></script>
