{% if env_show_privacylinks is not empty and env_show_privacylinks == "true"  %}
<div>
  <a href="{{ path('policy') }}">{{ 'menu.main.policy'|trans }}</a>
  &middot;
  <a href="{{ path('terms') }}">{{ 'menu.main.terms'|trans }}</a>
  &middot;
  <a href="{{ path('cookies') }}">{{ 'menu.main.cookies'|trans }}</a>
</div>
{% endif %}
