<link rel="stylesheet" href="/{{ app.request.server.get('APP_ALIAS') }}/build/css/datatables-style.css">
<link rel="stylesheet" href="/{{ app.request.server.get('APP_ALIAS') }}/build/css/styles.css">
<link rel="stylesheet" href="/{{ app.request.server.get('APP_ALIAS') }}/build/css/custo.css">
<script src="/{{ app.request.server.get('APP_ALIAS') }}/build/js/fontawesome-free-6.0.0-all.js" data-auto-replace-svg="nest" crossorigin="anonymous"></script>
