<footer class="py-4 bg-light mt-auto">
  <div class="container-fluid px-4">
    <div class="d-flex align-items-center justify-content-between small text-primary">
      {{ include('core/_licence.html.twig') }}
      {{ include('core/_version.html.twig') }}
      {{ include('core/_privacylinks.html.twig') }}
    </div>
  </div>
</footer>
