{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}
{% block header %}{% endblock %}

{% block mainpanel %}
<main>
  <div class="container-fluid px-4">
    {{ include('core/notlogged.html.twig', {'field_disabled': 'true'}) }}
    {{ include('menu/_breadcrumb.html.twig', {'title': 'title.dashboard'|trans, 'rootlevel': ''} ) }}
    <h5 class="mt-4">{{ 'title.dashboard.admin.conf'|trans }}:</h5>
    <div class="row">
      <div class="col-xl-3 col-md-6">
        {{ include('default/card/_dashboard.html.twig', { 'title': 'label.dashboard.public.envs'|trans, 'faicone': 'fas fa-desktop', 'bgcolor': 'bg-info', 'label': 'label.homepage.envs.number'|trans, 'stat': envs}) }}
      </div>
      <div class="col-xl-3 col-md-6">
        {{ include('default/card/_dashboard.html.twig', { 'title': 'label.dashboard.public.apps'|trans, 'faicone': 'fas fa-window-restore', 'bgcolor': 'bg-info', 'label': 'label.homepage.apps.number'|trans, 'stat': apps}) }}
      </div>
    </div>
    <h5 class="mt-4">{{ 'title.dashboard.admin.conf'|trans }}:</h5>
    <div class="row">
      <div class="col-xl-3 col-md-6">
        {{ include('default/card/_dashboard.html.twig', { 'title': 'label.dashboard.public.versions'|trans, 'faicone': 'fas fa-flag', 'bgcolor': 'bg-success',  'stat': ver}) }}
      </div>
    </div>

  </div>
</main>

{% endblock %}

{% block footer %}{% endblock %}
