{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}
{% block header %}{% endblock %}

{% block mainpanel %}
<main>
    <div class="container-fluid px-4">
        {{ include('core/notlogged.html.twig', {'field_disabled': 'true'}) }}
        {{ include('menu/_breadcrumb.html.twig', {'title': 'title.homepage'|trans, 'rootlevel': ''} ) }}

        <div class="row-fluid">
            {{ include('default/form/search.html.twig', {'form' : form}) }}
        </div>
        <div class="row-fluid">
            {{ include('default/form/results.html.twig', {'entities' : entities}) }}
        </div>
    </div>
</main>

{% endblock %}

{% block footer %}{% endblock %}
