{% extends './layout.html.twig' %}


{% block mainpanel %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"> {{ 'title.profile'|trans ~ ' ' ~ user.username }}</h1>
        {{ include('menu/_breadcrumb.html.twig', {'title': 'label.user'|trans, 'rootlevel': 'menu.main.admin.label'|trans , 'show_title': false} ) }}
        {{ include('core/_header-title.html.twig', {'headerDetail':  'label.edit.manage' | trans ~ ' ' ~ user.fullname  } ) }}

        {{ form_start(form, {'method': 'PUT'}) }}
        <div class="mb-3">
            {{ form_label(form.fullName, 'label.fullname'|trans, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_errors(form.fullName) }}
            {{ form_widget(form.fullName, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.username, 'label.login'|trans, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.email, 'label.email'|trans, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.password, 'label.password'|trans, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.rolesList, 'label.role'|trans, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_errors(form.rolesList) }}
            {{ form_widget(form.rolesList, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.actif, 'label.enabled'|trans, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_errors(form.actif) }}
            {{ form_widget(form.actif, { 'attr': {'class': 'form-control'} }) }}
        </div>

        {{ form_widget(form.save, {label: 'action.save', attr: {class: 'btn btn-primary'}}) }}
        <a href="{{ path('admin_users_index') }}" class="btn btn-primary">{{ 'label.back'|trans }}</a>
        {{ form_end(form) }}
    </div>
</main>

{% endblock %}
