{% extends 'base.html.twig' %}

{% block title %}{{ 'title.admin.list'|trans }}{% endblock %}
{% block header %}{% endblock %}

{% block mainpanel %}
<main>
  <div class="container-fluid px-4">
      {{ include('menu/_breadcrumb.html.twig', {'title': 'label.admin.list.manage'|trans, 'rootlevel': 'menu.main.admin.label'|trans } ) }}
      {{ include('core/_header-title.html.twig', {'headerDetail':  'label.users.list.manage' | trans } ) }}

    <div class="card mb-4">
      <div class="card-header bg-primary">
        <i class="fas fa-table me-1"></i>
        {{ 'label.users.list.depend.manage'|trans }} {{ 'title'|trans }}.
      </div>
      <div class="card-body">
        <table id="datatablesSimple" class="text-center">
          <thead>
            <tr class="bg-danger">
              <th class="text-center">{{ 'label.fullname'|trans }}</th>
              <th class="text-center">{{ 'label.login'|trans }}</th>
              <th class="text-center">{{ 'label.email'|trans }}</th>
              <th class="text-center">{{ 'label.role'|trans }}</th>
              <th class="text-center">{{ 'label.enabled'|trans }}</th>
              <th class="text-center">{{ 'label.actions'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% for user in entities %}
            <tr>
              <td>{{ user.fullName }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.getRolesList }}</td>
              <td>{{ user.actif | boolean_ouinonformat  }}</td>
              <td class="text-center">
                    <div class="item-actions">
                        <a href="{{ path('admin_users_show', {id: user.id}) }}" class="btn btn-sm btn-outline-success">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                        </a>
                        <a href="{{ path('admin_users_edit', {id: user.id}) }}" class="btn btn-sm btn-outline-warning">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                        </a>
                        <a href="{{ path('admin_users_delete', {id: user.id}) }}" class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-trash-can" aria-hidden="true"></i> {{ 'action.delete'|trans }}
                        </a>
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
              <td colspan="4" align="center">{{ 'label.users.not_found'|trans }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}
