{% extends './layout.html.twig' %}

{% block title %}{{ 'title.admin.detail'|trans }}{% endblock %}

{% block mainpanel %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4"> {{ 'title.profile'|trans ~ ' ' ~ user.username }}</h1>
        {{ include('menu/_breadcrumb.html.twig', {'title': 'label.user'|trans, 'rootlevel': 'menu.main.admin.label'|trans , 'show_title': false} ) }}
        {{ include('core/_header-title.html.twig', {'headerDetail':  'label.profile.login.detail' | trans ~ ' ' ~ user.fullname  } ) }}
        <div class="card-body">
            <div class="card border-secondary mb-12">
                <div class="card-header">{{ 'label.fullname'|trans }} : {{ user.fullname }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ 'label.login'|trans }}: {{ user.username }}</h5>
                    <p class="card-text">{{ 'label.email'|trans }} : {{ user.email }}</p>
                    <p class="card-text">{{ 'label.role'|trans }} : {{ user.getRolesList }}</p>
                    <p class="card-text">{{ 'label.enabled'|trans }} : {{ user.actif | boolean_ouinonformat }}</p>
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a href="{{ path('admin_users_index') }}" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i> {{ 'label.back'|trans }}
                    </a>

                    <a href="{{ path('admin_users_edit', {id: user.id}) }}" class="btn btn-sm btn-outline-warning">
                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
