{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}
{% block header %}{% endblock %}

{% block mainpanel %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">{{ 'title.dashboard'|trans }}</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">>{{ 'title.dashboard'|trans }}</li>
    </ol>
    <h5 class="mt-4">{{ 'title.dashboard.admin.users'|trans }}:</h5>
    <div class="row">
      <div class="col-xl-3 col-md-6">
        {{ include('default/card/_dashboard.html.twig', { 'title': 'label.dashboard.admin.users'|trans, 'faicone': 'fas fa-users', 'bgcolor': 'bg-warning', 'stat': users, 'label': '' }) }}
      </div>
      <div class="col-xl-3 col-md-6">
        {{ include('default/card/_dashboard.html.twig', { 'title': 'label.dashboard.admin.usersadmin'|trans, 'faicone': 'fas fa-user-graduate', 'bgcolor': 'bg-danger', 'stat': admins, 'label': ''|trans}) }}
      </div>
    </div>
    <h5 class="mt-4">{{ 'title.dashboard.admin.conf'|trans }}:</h5>
    <div class="row">
      <div class="col-xl-3 col-md-6">
        {{ include('default/card/_dashboard.html.twig', { 'title': 'label.dashboard.admin.services'|trans, 'faicone': 'fas fa-house', 'bgcolor': 'bg-info', 'stat': svc}) }}
      </div>
    </div>
  </div>
</main>

{% endblock %}

{% block footer %}{% endblock %}
