{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}
{% block header %}{% endblock %}

{% block mainpanel %}
<main>
    <div class="container-fluid px-4">
        {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.admin.info'|trans, 'rootlevel': 'menu.main.admin.label'|trans } ) }}

        <div class="card mb-4">
            <div class="card-header bg-primary">
                <i class="fa-solid fa-circle-info"></i>
                {{ 'title.infos.admin.users'|trans }}
            </div>
            <div class="card-body">
                <p>{{ 'infos.admin.infos.users.section1'|trans|raw }}</p>
                <p>{{ 'infos.admin.infos.users.section2'|trans|raw }}</p>
                <p>{{ 'infos.admin.infos.users.section3'|trans|raw }}</p>
                <p>{{ 'infos.admin.infos.users.section4'|trans|raw }}</p>
                <p class="text-danger">{{ 'infos.admin.infos.users.section5'|trans|raw }}</p>
                <ul>
                    <li>{{ 'infos.admin.infos.users.section5.roleadmmin'|trans|raw }}</li>
                    <li>{{ 'infos.admin.infos.users.section5.roleresp'|trans|raw }}</li>
                    <li>{{ 'infos.admin.infos.users.section5.roleversion'|trans|raw }}</li>
                    <li>{{ 'infos.admin.infos.users.section5.roleuser'|trans|raw }}</li>
                </ul>
                <p>{{ 'infos.admin.infos.users.section6'|trans|raw }}</p>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block footer %}{% endblock %}
