<div class="row mb-3">
  <div class="col-md-6">
    <div class="form-floating mb-3 mb-md-0">
      {{ form_errors(form.application) }}
      {% if field_disabled is defined %}
      {{ form_widget(form.application, { 'attr': {'class': 'form-control', 'readonly':'readonly'} }) }}
      {% else %}
      {{ form_widget(form.application, { 'attr': {'class': 'form-control'} }) }}
      {% endif %}
      {{ form_label(form.application, 'label.app.name'|trans, {'label_attr': {'class': 'form-label'}}) }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating">
      {{ form_errors(form.environment) }}
      {% if field_disabled is defined %}
      {{ form_widget(form.environment, { 'attr': {'class': 'form-control', 'readonly':'readonly'} }) }}
      {% else %}
      {{ form_widget(form.environment, { 'attr': {'class': 'form-control'} }) }}
      {% endif %}
      {{ form_label(form.environment, 'label.env.name'|trans, {'label_attr': {'class': 'form-label'}}) }}
    </div>
  </div>
</div>
<div class="mb-3">
  {{ form_label(form.version, 'label.version.field'|trans, {'label_attr': {'class': 'form-label'}}) }}
  {{ form_errors(form.version) }}
  {{ form_widget(form.version, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
  {{ form_label(form.date, 'label.date' | trans, {'label_attr': {'class': 'form-label'}}) }}
  {{ form_errors(form.date) }}
  {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
  {{ form_label(form.comment, 'label.description' | trans, {'label_attr': {'class': 'form-label'}}) }}
  {{ form_errors(form.comment) }}
  {{ form_widget(form.comment, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
  {{ form_label(form.link, 'label.version.url.field'| trans, {'label_attr': {'class': 'form-label'}}) }}
  {{ form_errors(form.link) }}
  {{ form_widget(form.link, { 'attr': {'class': 'form-control'} }) }}
</div>

{{ form_widget(form.save, {label: 'action.save', attr: {class: 'btn btn-primary'}}) }}
