{% extends './layout.html.twig' %}

{% block mainpanel %}
<main>
    <div class="container-fluid px-4">
        {# <pre>{{ dump(form.version.vars) }} </pre> #}
        <h1 class="mt-4">{{ 'label.version.field' | trans }}  {{ form.application.vars.data.name }} </h1>
        {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.version'|trans, 'rootlevel': 'menu.main.admin.label'|trans , 'show_title': false} ) }}
        {{ include('core/_header-title.html.twig', {'headerDetail':  'label.app.version' | trans ~ ' ' ~ form.application.vars.data.name ~ ' ' ~ 'label.app.version.deploy.to' | trans  ~ ' ' ~  form.environment.vars.data.name } ) }}

        {# <pre>{{ dump(form.application.vars.data.name) }} </pre> #}
        {# <pre>{{ dump(form.environment.vars.value) }} </pre> #}
         {{ form_start(form) }}
        {{ include('admin/version/_form.html.twig', {'field_disabled': 'true'}) }}

        <a href="{{ path('admin_versions') }}" class="btn btn-primary">{{ 'label.back'|trans }}</a>
        {{ form_end(form) }}
    </div>
</main>

{% endblock %}
