{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }} {% endblock %}
{% block header %}{% endblock %}

{% block mainpanel %}
<main>
  <div class="container-fluid px-4">
      {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.version'|trans, 'rootlevel': 'menu.main.admin.label'|trans } ) }}
      {{ include('core/_header-title.html.twig', {'headerDetail':  'label.version.list' | trans } ) }}

    <div class="card mb-4">
      <div class="card-header bg-primary">
        <i class="fas fa-table me-1"></i>
        {{ 'label.versions.used.list.manage'|trans }} {{ 'title'|trans }}.
      </div>
      {{ include('admin/version/_add.html.twig') }}
      <div class="card-body">
        <table id="datatablesSimple" class="text-center">
          <thead>
            <tr class="bg-info">
              <th class="text-center">{{ 'label.name'|trans }}</th>
              <th class="text-center">{{ 'label.envs.field' | trans }}</th>
              <th class="text-center">{{ 'label.version.field' | trans }}</th>
              <th class="text-center">{{ 'label.date' | trans }}</th>
              <th class="text-center">{{ 'label.actions' | trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% for appli in entities %}
            {# <pre>{{ dump(appli ) }} </pre> #}
            {% for link in appli.getApplicationenvs %}
            <tr>
              <td>{{ appli.name }}</td>
              <td>{{ link.getEnvironment.name }}</td>
              <td>{{ link.version }}</td>
              <td>{{ link.date | date('d/m/Y') }}</td>
              <td class="text-center">
                    <div class="item-actions">
                        <a href="{{ path('admin_version_show', {id: appli.id, envid: link.getEnvironment.id }) }}" class="btn btn-sm btn-outline-success">
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                        </a>
                        <a href="{{ path('admin_version_edit', {id: appli.id, envid: link.getEnvironment.id}) }}" class="btn btn-sm btn-outline-warning">
                            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                        </a>
                        <a href="{{ path('admin_version_delete', {id: appli.id, envid: link.getEnvironment.id}) }}" class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-trash-can" aria-hidden="true"></i> {{ 'action.delete'|trans }}
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="4" align="center">{{ 'label.version.not_found'|trans }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {{ include('admin/version/_add.html.twig') }}
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}
