{% extends './layout.html.twig' %}

{% block mainpanel %}
<main>
  <div class="container-fluid px-4">
      <h1>{{ 'label.version.add'|trans }}</h1>
      {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.version'|trans, 'rootlevel': 'menu.main.admin.label'|trans , 'show_title': false} ) }}
      {{ include('core/_header-title.html.twig', {'headerDetail':  'label.version.add' | trans } ) }}

    {{ form_start(form, {'method': 'POST'}) }}
    {{ include('admin/version/_form.html.twig') }}

    <a href="{{ path('admin_versions') }}" class="btn btn-primary">{{ 'label.back'|trans }}</a>
  </div>
</main>
{{ form_end(form) }}
{% endblock %}

{% block footer %}{% endblock %}
