{% extends './layout.html.twig' %}

{% block mainpanel %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">{{ 'label.version.field' | trans }}  "{{ appli.name }}"</h1>
        {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.version'|trans, 'rootlevel': 'menu.main.admin.label'|trans , 'show_title': false} ) }}
        {{ include('core/_header-title.html.twig', {'headerDetail':  'label.detail.show' | trans ~ ' ' ~ appli.name ~ ' - ' ~ env.name} ) }}
        <div class="card-body">
            <div class="card border-secondary mb-12">
                <div class="card-header bg-info">{{ 'label.apps.app.name.field' | trans }} : {{ appli.name }}</div>
                <div class="card-body">
                    <h5 class="card-title"><a target="_blank" href="{{ appli.link }}" title="{{ appli.link }}">Lien vers le site</a> </h5>
                    <p class="card-text">{{ 'label.description' | trans }} : {{ appli.description }}</p>
                </div>
                <div class="card-header bg-info">{{ 'label.version.field' | trans }} : {{ link.version }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ 'label.date' | trans }}: {{ link.date | date('d/m/Y') }}</h5>
                    <p class="card-text">{{ 'label.description' | trans }} : {{ link.comment }}</p>
                </div>
                <div class="card-header bg-info">{{ 'label.envs.field' | trans }} : {{ env.name }}</div>
                <div class="card-body">
                    <p class="card-text">{{ 'label.envs.server.field' | trans }} : {{ env.machine }}</p>
                </div>
                <div class="card-header bg-info">{{ 'label.service.field' | trans }} : {{ appli.service.name }}</div>
                <div class="card-body">
                    <p class="card-text">{{ 'label.apps.app.manager.field' | trans }} : {{ appli.service.manager }}</p>
                </div>
                <div class="card-header bg-info">{{ 'label.access' | trans }}:</div>
                <div class="card-body">
                  {% if link.link is defined and link.link != '' %}
                    <h5 class="card-title"><a target="_blank" href="{{ link.link }}" title="{{ link.link }}">{{ 'label.version.link' | trans }}</a> </h5>
                    {% else  %}
                    <h5 class="card-title"><a target="_blank" href="{{ appli.link }}" title="{{ appli.link }}">{{ 'label.version.link' | trans }}</a> </h5>
                    {% endif %}
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a href="{{ path('admin_versions') }}" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i> {{ 'label.back'|trans }}
                    </a>

                    <a href="{{ path('admin_version_edit', {id: appli.id, envid: env.id}) }}" class="btn btn-sm btn-outline-warning">
                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
