{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}
{% block header %}{% endblock %}

{% block mainpanel %}
<main>
    <div class="container-fluid px-4">
        {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.cookies'|trans, 'rootlevel': ''} ) }}
    </div>
</main>

{% endblock %}

{% block footer %}{% endblock %}
