{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }}{% endblock %}
{% block header %}{% endblock %}

{% block mainpanel %}
<main>
    <div class="container-fluid px-4">
        {{ include('core/notlogged.html.twig', {'field_disabled': 'true'}) }}
        {{ include('menu/_breadcrumb.html.twig', {'title': 'title.notauthorized.access'|trans, 'rootlevel': ''} ) }}
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mt-4">
                    <h1 class="display-1"><i class="fa-solid fa-ban"></i> {{ 'title.notauthorized.access'|trans }} <i class="fa-solid fa-ban"></i></h1>
                    <p class="lead">{{ 'label.notauthorized.access'|trans }}</p>
                    <p>{{ 'label.notauthorized.access.message'|trans }}</p>
                    <p>{{ 'label.notauthorized.access.restricted'|trans }}</p>
                    <p></p>
                    <a class="btn btn-primary small"
                    href="{{ path('homepage') }}">{{ 'action.back.home' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block footer %}{% endblock %}
