<!-- Results Tab -->
{% if  entities |length > 0 %}
<div class="card text-center">
    <div class="card-header bg-primary">
        <i class="fa-solid fa-square-poll-horizontal"></i> {{ 'label.form.results' | trans }} <i class="fa-solid fa-square-poll-horizontal"></i>
    </div>
    <div class="card-body">
        <table id="datatablesSimpleNoSearch" class="text-center">
            <thead>
                <tr class="bg-success">
                    <th class="text-center">{{ 'label.service.field' | trans}}</th>
                    <th class="text-center">{{ 'label.apps.field' | trans}}</th>
                    <th class="text-center">{{ 'label.envs.field' | trans}}</th>
                    <th class="text-center">{{ 'label.version.field' | trans}}</th>
                    <th class="text-center">{{ 'label.version.url.field' | trans}}</th>
                </tr>
            </thead>
            <tbody>
                {% for appli in entities %}
                {% for link in appli.getApplicationenvs %}
                <tr>
                    <td>{{ appli.service }}</td>
                    <td>{{ appli.name }}</td>
                    <td>{{ link.getEnvironment.name }}</td>
                    <td>{{ link.version }}</td>
                    {% if link.link is defined and link.link != '' %}
                    <td><a target="_blank" href="{{ link.link }}" title="{{ link.link }}">{{ 'label.version.link' | trans }}</a></td>
                    {% else  %}
                    <td><a target="_blank" href="{{ appli.link }}" title="{{ appli.link }}">{{ 'label.version.link' | trans }}</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
<!-- /Results Tab -->
