<!-- Search form -->
<div class="card text-center">
    <div class="card-header bg-primary">
        <i class="fa-solid fa-magnifying-glass"></i> {{ 'label.form.filter' | trans }} <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="card-body">
        <p class="card-text">{{ 'label.form.filter.message' | trans }}</p>
        {{ form_start(form, {'method': 'POST'}) }}
        <div class="form-group row">
            {{ form_label(form.service, 'label.service.field' | trans,  { 'label_attr': {'class': 'form-label col-sm'} }) }}
            <div class="col-sm">
                {{ form_widget(form.service, {'attr': {'class': 'form-control'}} ) }}
            </div>
            {{ form_label(form.application, 'label.apps.field' | trans,  { 'label_attr': {'class': 'form-label col-sm'} }) }}
            <div class="col-sm">
                {{ form_widget(form.application, {'attr': {'class': 'form-control'}} ) }}
            </div>
        </div>
        <div class="form-group row pt-2">
            {{ form_label(form.environment, 'label.envs.field' | trans,  { 'label_attr': {'class': 'form-label col-sm'} }) }}
            <div class="col-sm">
                {{ form_widget(form.environment, {'attr': {'class': 'form-control'}} ) }}
            </div>
            {{ form_label(form.version, 'label.version.field' | trans,  { 'label_attr': {'class': 'form-label col-sm'} }) }}
            <div class="col-sm">
                {{ form_widget(form.version, {'attr': {'class': 'form-control'}} ) }}
            </div>
        </div>

    </div>
    <div class="card-footer">
        <div class="float-end">
            <button type="submit" class="btn btn-sm btn-outline-primary"><i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.search'|trans }}</button>
        </div>
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
<!-- /Search form -->
