<div class="mb-3">
  {{ form_label(form.name, 'label.name' | trans, {'label_attr': {'class': 'form-label'}}) }}
  {{ form_errors(form.name) }}
 {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
 {{ form_label(form.description, 'label.description' | trans , {'label_attr': {'class': 'form-label'}}) }}
 {{ form_errors(form.description) }}
{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
 {{ form_label(form.machine, 'label.envs.server.field' | trans , {'label_attr': {'class': 'form-label'}}) }}
 {{ form_errors(form.machine) }}
{{ form_widget(form.machine, { 'attr': {'class': 'form-control'} }) }}
</div>

{{ form_widget(form.save, {label: 'action.save', attr: {class: 'btn btn-primary'}}) }}
