{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }} {% endblock %}
{% block header %}{% endblock %}

{% block mainpanel %}
<main>
    <div class="container-fluid px-4">
        {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.manage.envs'|trans, 'rootlevel': 'menu.main.admin.label'|trans } ) }}
        {{ include('core/_header-title.html.twig', {'headerDetail':  'label.envs.list.manage' | trans } ) }}
        <div class="card mb-4">
            <div class="card-header bg-primary">
                <i class="fas fa-table me-1"></i>
                {{ 'label.envs.list.used.manage' | trans }} {{ 'title'|trans }}.
            </div>
            {{ include('admin/environment/_add.html.twig') }}
            <div class="card-body">
                <table id="datatablesSimple" class="text-center">
                    <thead>
                        <tr class="bg-warning">
                            <th class="text-center">{{ 'label.name' | trans }}</th>
                            <th class="text-center">{{ 'label.envs.server.field' | trans }}</th>
                            <th class="text-center">{{ 'label.description' | trans }}</th>
                            <th class="text-center">{{ 'label.actions' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for environment in entities %}
                        <tr>
                            <td>{{ environment.name }}</td>
                            <td>{{ environment.machine }}</td>
                            <td>{{ environment.description }}</td>
                            <td class="text-right">
                                <div class="item-actions">
                                    <a href="{{ path('admin_environnement_show', {id: environment.id}) }}" class="btn btn-sm btn-outline-success">
                                        <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                                    </a>
                                    <a href="{{ path('admin_environnement_edit', {id: environment.id}) }}" class="btn btn-sm btn-outline-warning">
                                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                                    </a>
                                    {% if environment.envapplication | length < 1 %}
                                    <a href="{{ path('admin_environnement_delete', {id: environment.id}) }}" class="btn btn-sm btn-outline-danger">
                                        <i class="fa fa-trash-can" aria-hidden="true"></i> {{ 'action.delete'|trans }}
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="4" align="center">{{ 'label.envs.not_found'|trans }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ include('admin/environment/_add.html.twig') }}

            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}
