{% extends './layout.html.twig' %}
{% block title %}{{ 'title'|trans }} | {{ 'menu.main.manage.envs'|trans }}{% endblock %}

{% block mainpanel %}
<main>
    <div class="container-fluid px-4">
        <h1>{{ 'label.environments.add'|trans }}</h1>
        {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.manage.envs'|trans, 'rootlevel': 'menu.main.admin.label'|trans , 'show_title': false} ) }}
        {{ include('core/_header-title.html.twig', {'headerDetail':  'label.envs.list.add' | trans } ) }}
        {{ form_start(form, {'method': 'POST'}) }}
        {{ include('admin/environment/_form.html.twig') }}
        <a href="{{ path('admin_environnements') }}" class="btn btn-primary">{{ 'label.back'|trans }}</a>
    </div>
</main>
{{ form_end(form) }}
{% endblock %}

{% block footer %}{% endblock %}
