{% extends './layout.html.twig' %}
{% block title %}{{ 'title'|trans }} | {{ 'menu.main.manage.envs'|trans }}{% endblock %}
{% block mainpanel %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">{{ 'label.envs.field' | trans }}  "{{ env.name }}"</h1>
        {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.manage.envs'|trans, 'rootlevel': 'menu.main.admin.label'|trans , 'show_title': false} ) }}
        {{ include('core/_header-title.html.twig', {'headerDetail':  'label.detail.show' | trans ~ ' ' ~ env.name  } ) }}
        <div class="card-body">
            <div class="card border-secondary mb-12">
                <div class="card-header">{{ 'label.envs.detail.name' | trans }} : {{ env.name }}</div>
                <div class="card-body">
                    <h5 class="card-title">{{ 'label.envs.detail.server' | trans }}: {{ env.machine }}</h5>
                    <p class="card-text">{{ 'label.description' | trans }} : {{ env.description }}</p>
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a href="{{ path('admin_environnements') }}" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i> {{ 'label.back'|trans }}
                    </a>

                    <a href="{{ path('admin_environnement_edit', {id: env.id}) }}" class="btn btn-sm btn-outline-warning">
                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
