<div class="card text-white {{ bgcolor }} mb-3">
  <div class="card-header"> {{ title }}:</div>
  <div class="card-body">
    <h5 class="card-title">{{ stat }}
        {% if label is defined %}
            {{ label }}
        {% endif %}
    </h5>
    <p class="card-text"> <i class="{{ faicone}} "></i></p>
  </div>
</div>
