<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    {{ include('core/_head.html.twig') }}
    <title>{% block title %}Main application{% endblock %}</title>
    {% block stylesheets %}
    {{ include('core/_stylesheets.html.twig') }}
    {% endblock %}
</head>
<body class="sb-nav-fixed">
    {% block menu %}
    {{ include('menu/menu.html.twig') }}
    {% endblock %}

    <div id="layoutSidenav">
        {% block menu_body %}
        {{ include('menu/menu-body.html.twig') }}
        {% endblock %}

        <div id="layoutSidenav_content">
            {% block mainpanel %} {% endblock %}
            {% if env_show_footer is not empty and env_show_footer == "true" %}
            {{ include('core/footer.html.twig') }}
            {% endif %}
        </div>

        {% block javascripts %}
        {{ include('core/_javascripts.html.twig') }}
        {% endblock %}

        <!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
    </body>
    </html>
