<div class="mb-3">
    {{ form_label(form.society, 'label.service.society.field'|trans, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_errors(form.society) }}
    {{ form_widget(form.society, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
    {{ form_label(form.name, 'label.name'|trans, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
    {{ form_label(form.description, 'label.description' | trans, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
    {{ form_label(form.manager, 'label.apps.app.manager.field'|trans, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_errors(form.manager) }}
    {{ form_widget(form.manager, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="mb-3">
    {{ form_label(form.date, 'label.date' | trans, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_errors(form.date) }}
    {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
</div>

{{ form_widget(form.save, {label: 'action.save', attr: {class: 'btn btn-primary'}}) }}
