{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans }} {% endblock %}
{% block header %}{% endblock %}

{% block mainpanel %}
<main>
    <div class="container-fluid px-4">
        {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.admin.services'|trans, 'rootlevel': 'menu.main.admin.label'|trans } ) }}
        {{ include('core/_header-title.html.twig', {'headerDetail':  'label.service.list.manage' | trans } ) }}

        <div class="card mb-4">
            <div class="card-header bg-primary">
                <i class="fas fa-table me-1"></i>
                {{ 'label.service.list.depend.manage'|trans }} {{ 'title'|trans }}.
            </div>
            {{ include('admin/service/_add.html.twig') }}
            <div class="card-body">
                <table id="datatablesSimple" class="text-center">
                    <thead>
                        <tr class="bg-danger">
                            <th class="text-center">{{ 'label.service.society.field'|trans }}</th>
                            <th class="text-center">{{ 'label.name'|trans }}</th>
                            <th class="text-center">{{ 'label.service.manager.field'|trans }}</th>
                            <th class="text-center">{{ 'label.actions' | trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for svc in entities %}
                        <tr>
                            <td>{{ svc.society }}</td>
                            <td>{{ svc.name }}</td>
                            <td>{{ svc.manager }}</td>
                            <td class="text-center">
                                <div class="item-actions">
                                    <a href="{{ path('admin_service_show', {id: svc.id}) }}" class="btn btn-sm btn-outline-success">
                                        <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show'|trans }}
                                    </a>
                                    <a href="{{ path('admin_service_edit', {id: svc.id}) }}" class="btn btn-sm btn-outline-warning">
                                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                                    </a>
                                    {% if svc.applications | length < 1 %}
                                    <a href="{{ path('admin_service_delete', {id: svc.id}) }}" class="btn btn-sm btn-outline-danger">
                                        <i class="fa fa-trash-can" aria-hidden="true"></i> {{ 'action.delete'|trans }}
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="4" align="center">{{ 'label.services.not_found'|trans }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ include('admin/service/_add.html.twig') }}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}
