{% extends './layout.html.twig' %}

{% block mainpanel %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">{{ 'label.service.field' | trans }}  "{{ service.name }}"</h1>
        {{ include('menu/_breadcrumb.html.twig', {'title': 'menu.main.admin.services'|trans, 'rootlevel': 'menu.main.admin.label'|trans , 'show_title': false} ) }}
        {{ include('core/_header-title.html.twig', {'headerDetail':  'label.detail.show' | trans ~ ' ' ~ service.name ~ ' - ' ~ service.society} ) }}

        <div class="card-body">
            <div class="card border-secondary mb-12">
                <div class="card-header">{{ 'label.service.society.field'|trans }} : <strong>{{ service.society }}</strong></div>
                <div class="card-body">{{ 'label.name'|trans }} : <strong>{{ service.name }}</strong></div>
                <div class="card-body">
                    <p class="card-text">{{ 'label.description' | trans }} : {{ service.description }}</p>
                    <p class="card-text">{{ 'label.date' | trans }} : {{ service.date | date('d/m/Y') }}</p>
                </div>
                <div class="card-header">{{ 'label.apps.app.manager.field' | trans }} : {{ service.manager }}</div>
                <div class="card-footer bg-transparent border-success">
                    <a href="{{ path('admin_services') }}" class="btn btn-sm btn-outline-primary">
                        <i class="fa fa-eye" aria-hidden="true"></i> {{ 'label.back'|trans }}
                    </a>
                    <a href="{{ path('admin_service_edit', {id: service.id}) }}" class="btn btn-sm btn-outline-warning">
                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
