{% if env_app_name is not empty %}
<a class="navbar-brand ps-3" href="{{ path('homepage') }}">{{ env_app_name }}</a>
{% else  %}
<a class="navbar-brand ps-3" href="{{ path('homepage') }}">{{ 'title'|trans }}</a>
{% endif %}
