{% if show_title is defined and show_title == true %}
    <h1 class="mt-4">{{title}}</h1>
{% endif %}
<ol class="breadcrumb mb-4">
    {% if rootlevel is defined and rootlevel != '' %}
    <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">{{ rootlevel }}</a></li>
    {% endif %}
    <li class="breadcrumb-item active">{{title}}</li>
</ol>
