{% if app.user is not empty %}
<ul class="navbar-nav ms-auto d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ path('profile_edit') }}">{{ 'menu.user' | trans }}</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="{{ path('security_logout') }}">{{ 'menu.logout' | trans }}</a></li>
        </ul>
    </li>
</ul>
{% else  %}
<ul class="navbar-nav ms-auto d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    <li class="nav-item dropdown">
        <a class="white" id="navbarDropdown" href="{{ path('security_login') }}"><i class="fas fa-user fa-fw"></i></a>
    </li>
</ul>
{% endif %}
