<nav class="sb-topnav navbar navbar-expand navbar bg-light">
  <!-- Navbar Brand-->
  {{ include('menu/_appname.html.twig') }}
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
  <!-- Navbar-->
  {{ include('menu/_usermenu.html.twig') }}
</nav>
