<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                {% if is_granted('ROLE_ADMIN') %}
                <div class="text-danger">
                    <div class="sb-sidenav-menu-heading"><i class="fas fa-user-group"></i>  {{ 'menu.main.admin' | trans }} </div>
                    <a class="nav-link text-danger" href="{{ path('admin_infos') }}">
                        <div class="sb-nav-link-icon text-danger"></div>
                        {{ 'menu.main.admin.infos' | trans }}
                    </a>
                    <a class="nav-link text-danger" href="{{ path('admin_index') }}">
                        <div class="sb-nav-link-icon text-danger"></div>
                        {{ 'menu.main.admin.dashboard' | trans }}
                    </a>
                    <a class="nav-link text-danger" href="{{ path('admin_users_index') }}">
                        <div class="sb-nav-link-icon text-danger"></div>
                        {{ 'menu.main.admin.users' | trans }}
                    </a>
                    <a class="nav-link text-danger" href="{{ path('admin_services') }}">
                        <div class="sb-nav-link-icon text-warning"></div>
                        {{ 'menu.main.admin.services' | trans }}
                    </a>
                </div>
                {% endif %}
                {% if is_granted('ROLE_RESP') or is_granted('ROLE_ADMIN') %}
                <div class="text-warning">
                    <div class="sb-sidenav-menu-heading"><i class="fas fa-book-open"></i>  {{ 'menu.main.manage' | trans }} </div>
                    <a class="nav-link text-warning" href="{{ path('admin_applications') }}">
                        <div class="sb-nav-link-icon text-warning"></div>
                        {{ 'menu.main.manage.apps' | trans }}
                    </a>
                    <a class="nav-link text-warning" href="{{ path('admin_environnements') }}">
                        <div class="sb-nav-link-icon text-warning"></div>
                        {{ 'menu.main.manage.envs' | trans }}
                    </a>

                </div>
                {% endif %}
                {% if is_granted('ROLE_RESP') or is_granted('ROLE_VERSION') or is_granted('ROLE_ADMIN') %}
                <div class="text-primary">
                    <div class="sb-sidenav-menu-heading"><i class="fas fa-ethernet"></i>  {{ 'menu.main.version' | trans }} </div>
                    <a class="nav-link text-primary" href="{{ path('admin_versions') }}">
                        <div class="sb-nav-link-icon text-primary"></div>
                        {{ 'menu.main.version.list' | trans }}
                    </a>

                </div>
                {% endif %}
                <div class="text-success">
                    <div class="sb-sidenav-menu-heading"><i class="fas fa-house"></i> {{ 'menu.main.public' | trans }} </div>
                    <a class="nav-link text-success" href="{{ path('homepage') }}">
                        <div class="sb-nav-link-icon text-success"></div>
                        {{ 'menu.main.public.homepage' | trans }}
                    </a>
                    {% if is_granted('ROLE_USER') %}
                    <a class="nav-link text-success" href="{{ path('dashboard') }}">
                        <div class="sb-nav-link-icon text-success"></div>
                        {{ 'menu.main.public.dashboard' | trans }}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            {% if app.user is not empty and env_show_connectedas is defined and env_show_connectedas == "true" %}
            <div class="small">{{ 'user.logged.as' | trans }}</div>
            {{ app.user.username }}
        </div>
        {% endif %}

    </nav>
</div>
