{% extends 'layout.html.twig' %}


{% block mainpanel %}
<main>
  <div class="container-fluid px-4">
    {{ include('menu/_breadcrumb.html.twig', {'title': 'label.password'|trans, 'show_title': false} ) }}
    {{ include('core/_header-title.html.twig', {'headerDetail':  'label.change.new_password' | trans  } ) }}

    {% include 'core/messages/callout-danger.html.twig' with {'message': 'info.change_password'|trans} %}
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        {{ 'title.edit_user.infos.modify' | trans }}
      </div>
    </div>
    {{ form_start(form, {'method': 'PUT'}) }}
    <div class="mb-3">
      {{ form_label(form.currentPassword, 'Mot de passe actuel:', {'label_attr': {'class': 'form-label'}}) }}
      {{ form_errors(form.currentPassword) }}
      {{ form_widget(form.currentPassword, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="mb-3">
      {{ form_label(form.newPassword.first, 'Nouveau mot de passe', {'label_attr': {'class': 'form-label'}}) }}
      {{ form_errors(form.newPassword.first) }}
      {{ form_widget(form.newPassword.first, { 'attr': {'class': 'form-control'} }) }}
      {{ form_label(form.newPassword.second, 'Répéter le mot de passe', {'label_attr': {'class': 'form-label'}}) }}
      {{ form_errors(form.newPassword.second) }}
      {{ form_widget(form.newPassword.second, { 'attr': {'class': 'form-control'} }) }}
    </div>

    {{ form_widget(form.save, {label: 'action.save', attr: {class: 'btn btn-primary'}}) }}
    <a href="{{ path('profile_edit') }}" class="btn btn-outline-info ">{{ 'action.back'|trans }}
    </a>
    {{ form_end(form) }}


  </div>
</main>
{% endblock %}
