{% extends './layout.html.twig' %}


{% block mainpanel %}
<main>
    <div class="container-fluid px-4">
        {{ include('menu/_breadcrumb.html.twig', {'title': 'title.edit_user.infos'|trans, 'show_title': false} ) }}
        {{ include('core/_header-title.html.twig', {'headerDetail':  'title.edit_user.infos.param' | trans  } ) }}

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                {{ 'title.edit_user.infos.modify' | trans }}
            </div>
        </div>
        {{ form_start(form, {'method': 'PUT'}) }}
        <div class="mb-3">
            {{ form_label(form.fullName, 'label.fullname'|trans, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_errors(form.fullName) }}
            {{ form_widget(form.fullName, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.email, 'label.email'|trans, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
        </div>

        {{ form_widget(form.save, {label: 'action.save', attr: {class: 'btn btn-primary'}}) }}
        <a href="{{ path('user_change_password') }}" class="btn btn-outline-danger">
            <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.change_password'|trans }}
        </a>
        {{ form_end(form) }}

    </div>
</main>
{% endblock %}
